<section id="sidebar" >
    <a href="#" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">MatrixAdmin</span>
    </a>
    <ul class="side-menu top">

      <li >
        <a routerLink="/add-trainings">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Trainings</span>
        </a>
      </li>
      <li >
      <li >
        <a routerLink="/add-question">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Question</span>
        </a>
      </li>
      <li >
        <a routerLink="/add-evaluation">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">Evaluations</span>
        </a>
      </li>
      <li>
        <a routerLink="/addCompetition">
          <i class='bx bxs-shopping-bag-alt' ></i>
          <span class="text">My Competition</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Analytics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-message-dots' ></i>
          <span class="text">Message</span>
        </a>
      </li>
      <li>
        <a routerLink="/addProblem">
          <i class='bx bxs-group' ></i>
          <span class="text">Problems</span>
        </a>
      </li>
      <li>
        <a routerLink="/candidates">
          <i class='bx bxs-group' ></i>
          <span class="text">candidates</span>
        </a>
      </li>
      <li>
        <a routerLink="/jobs/new">
          <i class='bx bxs-group' ></i>
          <span class="text">add Job</span>
        </a>
      </li>
    </ul>
    <ul class="side-menu">
      <li>
        <a href="#">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li>
        <a href="#" class="logout">
          <i class='bx bxs-log-out-circle' ></i>
          <span class="text">Logout</span>
        </a>
      </li>
    </ul>
  </section>
