<div *ngIf="questions.length > 0; else noQuestions">
  <div *ngFor="let question of questions" class="question-card">
    <h3>{{ question.questionText }}</h3>
    <p><strong>Type :</strong> {{ question.type }}</p>
    <p><strong>Énoncé :</strong> {{ question.enonce }}</p>
    <p><strong>Réponse correcte :</strong> {{ question.reponseCorrecte }}</p>

    <p><strong>Options :</strong></p>
    <ul>
      <li *ngFor="let option of question.options">{{ option }}</li>
    </ul>
  </div>
</div>

<ng-template #noQuestions>
  <p>Aucune question trouvée.</p>
</ng-template>
