<div class="problems-container">
    <div *ngFor="let problem of problems" class="problem-card">
        <div class="problem-info">
            <a [routerLink]="['/problemSubmission', problem.id]">
                <div id="problem-title" class="problem-title">{{ problem.title }}</div>
              </a>
              
                          <div class="problem-stats">65% </div>
        </div>
        <div class="difficulty {{ problem.difficulty.toLowerCase() }}">{{ problem.difficulty }}</div>
    </div>
</div>