<header>
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <a href="#">E-Learn</a>
      </div>
  
      <!-- Navigation -->
      <nav class="nav">
        <ul class="nav-list">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/courses">Courses</a></li>
          <li><a routerLink="/Problems">Problems</a></li>

          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
  
      <!-- CTA Button -->
      <div class="cta">
        <a href="#" class="cta-btn">Sign Up</a>
      </div>
  
      <!-- Hamburger Menu (for mobile) -->
      <div class="hamburger" id="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>
  