.question-container {
  width: 400px; /* Largeur plus petite pour le formulaire */
  margin: 50px auto; /* Centrer verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Ajouter un fond léger pour le formulaire */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur */
}

.form-group {
  margin-bottom: 15px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Pour que le padding ne dépasse pas la largeur */
}

button {
  width: 65%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
}

.table-container {
  margin-top: 20px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 65%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.action-buttons button {
  margin-right: 10px;
}
