<!-- forgot-password.component.html -->
<div class="forgot-container">
    <h2>Forgot Password</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="email" name="email" required>
      </div>
      
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
      
      <button type="submit">Reset Password</button>
    </form>
    <p>I Remember my password <a routerLink="/login">Login here</a></p>
  </div>