<div *ngIf="course; else loading">
  <div class="course-details">
    <h1>{{ course?.title || 'Titre non disponible' }}</h1>
    <p><strong>Contenu :</strong> {{ course?.content || 'Contenu non disponible' }}</p>
    <p><strong>Date :</strong> {{ course?.trainingdate | date: 'medium' }}</p>
    <p><strong>Durée :</strong> {{ course?.duration || 'Durée non disponible' }}</p>
    <p><strong>Niveau :</strong> {{ course?.level || 'Niveau non disponible' }}</p>
    <p><strong>Status :</strong> {{ course?.status || 'Statut non disponible' }}</p>

    <!-- Bouton pour accéder aux évaluations -->
    <button (click)="goToEvaluations()" class="btn btn-primary">Voir les évaluations</button>
  </div>
</div>

<ng-template #loading>
  <p>Chargement des détails du cours...</p>
</ng-template>
