@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.center-card{
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    padding: 30px;

}

mat-form-field{
    width: 100%;
}
button {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #333;
    color: white;
}